* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# Aturan khusus untuk file dengan ekstensi tertentu
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
